.header {
  font-size: 28px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #000000;
  padding: 20px;
  font-family: "sinbi";
  background: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  background-color: #eeeeee;
  padding: 8px 0 8px 36px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.brand {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  padding: 20px 0;
}
.TextTitle {
  font-size: 20px;
  font-weight: bold;
}
