.header {
  font-size: 28px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #000000;
  padding: 20px;
  font-family: "sinbi";
  background: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
/* .title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  background-color: #eeeeee;
  padding: 8px 0 8px 36px;
  box-shadow: 0 8px 32px 0 rgb(175 175 181 / 37%);
  border: 1px solid rgba(255, 255, 255, 0.18);
} */
