@charset "utf-8";

@font-face {
  font-family: "sinbi";
  src: url("../../assets/font/SSShinb7Regular.ttf");
}

.header {
  font-size: 28px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #000000;
  padding: 20px;
  font-family: "sinbi";
  background: #ffffff;
  /* box-shadow: 0 8px 32px 0 rgb(175 175 181 / 37%);
  border: 1px solid rgba(255, 255, 255, 0.18); */
}

.input {
  margin: 0 20px 10px;
}
.rankwrap {
  width: 100%;
  margin: 10px;
  position: relative;
}

.rankimgWrapper {
  width: 100%;
  vertical-align: middle;
  font-size: 0;
  position: relative;
}

.rankimg {
  width: 100%;
}

.ranktext {
  font-size: 20px;
  font-weight: 700;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.searchInputWrapper {
  width: 100%;
  padding: 16px 20px;
  position: relative;
}

.searchInputWrapper > input {
  width: 100%;
  background-color: rgba(196, 196, 196, 0.5);
  height: 40px;
  border-radius: 10px;
  border: none;
}

.searchInputIcon {
  position: absolute;
  right: 42px;
  top: 50%;
  transform: translateY(-50%);
}

.margin {
  margin-bottom: 70px;
}
