.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.swiper-pagination {
  color: rgb(235, 235, 235);
  background-color: rgba(0, 0, 0, 0.4);
  width: 40px;
  border-radius: 10px;
  left: 10px;
  font-size: 13px;
  font-weight: 400;
}
.react-calendar {
  /* width: 400px; */
  width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  /* box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  border: 0;
}
.react-calendar__navigation button {
  color: #000000;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
abbr[title] {
  text-decoration: none;
}

.react-calendar__tile {
  height: calc((100vw - 24px) / 7);
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #82af00;
  border-radius: 50%;
}
.react-calendar__tile--now {
  background: #83af005e;
  border-radius: 50%;
  font-weight: bold;
  color: #fff;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #83af005e;
  border-radius: 50%;
  font-weight: bold;
  color: #82af00;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
.react-calendar__tile--active {
  background: #82af00;
  border-radius: 50%;
  font-weight: bold;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #82af00;
  color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}
.react-calendar__tile--range {
  background: #f8f8fa;
  color: #82af00;
  border-radius: 0;
}
.react-calendar__tile--rangeStart {
  border-radius: 50%;
  color: white;
}
.react-calendar__tile--rangeEnd {
  border-radius: 50%;
  background: #82af00;
  color: white;
}
.swiper-slide img {
  width: 100%;
}
