@charset "utf-8";

@font-face {
  font-family: "sinbi";
  src: url("../../assets/font/SSShinb7Regular.ttf");
}

.header {
  font-size: 28px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #000000;
  padding: 20px;
  font-family: "sinbi";
  background: #ffffff;
  box-shadow: 0 8px 32px 0 rgb(175 175 181 / 37%);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.container {
  width: 100%;
}
.listCategoryWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 20px;
  place-content: center;
  place-items: center;
  padding: 15px 27px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  background-color: #eeeeee;
  padding: 8px 0 8px 36px;
  box-shadow: 0 8px 32px 0 rgb(175 175 181 / 37%);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.btm {
  padding-bottom: 50px;
}

.itemWrapper {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  gap: 12px;
  width: 100%;
}

.itemTitle {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #000000;
  margin: 0;
}
